{% extends 'layout.html' %}
{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">授权书总表</h2>
        <div class="row mb-3">
            <!-- 搜索和添加按钮的代码 -->
            {% if 'management.add_authorization' in request.session.info.user_permissions %}
                <div class="col">
                    <a href="/project/management/" class="btn btn-outline-primary">返回</a>
                    <a href="/authorization/add/" class="btn btn-primary">添加</a>
                </div>
            {% endif %}
            <div class="col text-end">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name='q' class="form-control" placeholder="搜索" value="{{ value }}">
                        <button class="btn btn-outline-secondary" type="submit">搜索</button>
                        <button class="btn btn-outline-secondary" type="button" id="clear-search-button">清空</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="scrollable-table">
            <table class="table table-fixed custom-table">
                <!-- 表头和表格内容 -->
                <thead>
                <tr>
                    <th>授权书编号</th>
                    <th>开具月份</th>
                    <th>品种</th>
                    <th>登记号</th>
                    <th>登记号状态</th>
                    <th>关联制剂厂家</th>
                    <th>关联制剂名称</th>
                    <th>给药途径</th>
                    <th>跟进人</th>
                    <th>受审情况</th>
                    <th>受理月份</th>
                    <th>在审月份</th>
                    <th>在审消失月份</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in page_queryset %}
                    <tr>
                        <td>{{ item.authorization_number }}</td>
                        <td>{{ item.issuance_month }}</td>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.registration_number }}</td>
                        <td>{{ item.registration_status }}</td>
                        <td>{{ item.related_manufacturer }}</td>
                        <td>{{ item.related_product_name }}</td>
                        <td>{{ item.administration_route }}</td>
                        <td>{{ item.follow_up_person }}</td>
                        <td>{{ item.review_status }}</td>
                        <td>{{ item.acceptance_month }}</td>
                        <td>{{ item.during_review_month }}</td>
                        <td>{{ item.disappearing_month }}</td>
                        <td>{{ item.notes }}</td>
                        <td>
                            {% if 'management.change_authorization' in request.session.info.user_permissions %}
                                <a href="/authorization/edit/{{ item.authorization_number }}/"
                                   class="btn btn-info btn-sm">编辑</a>
                            {% endif %}
                            {% if 'management.delete_authorization' in request.session.info.user_permissions %}
                                <button type="button" class="btn btn-danger btn-sm delete-btn"
                                        data-delete-url="/authorization/delete/{{ item.authorization_number }}/">
                                    删除
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example">
            <!-- 分页导航 -->
            <ul class="pagination justify-content-center">
                {{ page_string|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}
