{% extends 'layout.html' %}

{% block content %}

    <div class="my-4 fade-in">
        <div class="col-md-12">
            <a href="/ledger/management/" class="btn btn-outline-secondary">&larr; 返回</a>
            <h2 class="text-center mb-4" style="color: #007bff;">客户数和实现销售额</h2>
        </div>

        <!-- 添加年份和月份筛选 -->
        <form method="get" class="mb-4 d-flex justify-content-start">
            <select name="year" id="year-select" class="form-select me-2">
                {% for year in years %}
                    <option value="{{ year }}"
                            {% if year|stringformat:"s" == selected_year %}selected{% endif %}>
                        {{ year }}
                    </option>
                {% endfor %}

            </select>
            <select name="month" id="month-select" class="form-select me-2">
                <option value="">全部月份</option>
                {% for month in months %}
                    <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}月
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>

        <!-- 部门数据展示 -->
        <div class="row">
            {% for department, data in departments.items %}
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card card-hover">
                        <div class="card-body">
                            <h3 class="card-title">{{ department }}</h3>
                            <p class="card-text">一次客户数量: {{ data.first_time_count }}</p>
                            <p class="card-text">销售额: {{ data.sales_amount }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block css %}
    <style>
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .fade-in {
            animation: fadeIn 1s ease-out;
        }

        .card-hover:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>

{% endblock %}

{% block js %}
    {#    <script>#}
    {#        function checkYear() {#}
    {#            var yearSelect = document.getElementById('year-select');#}
    {#            var monthSelect = document.getElementById('month-select');#}
    {#            if (yearSelect.value) {#}
    {#                monthSelect.disabled = false;#}
    {#            } else {#}
    {#                monthSelect.disabled = true;#}
    {#                monthSelect.value = ''; // 可选：重置月份选择#}
    {#            }#}
    {#        }#}
    {#    </script>#}
{% endblock %}