{% extends 'layout.html' %}

{% block content %}
    <div class="container py-5">
        <h2 class="mb-5 text-center">客户管理</h2>
        <div class="row g-4">
            <!-- 循环开始 -->

            {% if 'management.view_existingformulationdeveloping' in request.session.info.user_permissions or 'management.view_existingformulationtodevelop' in request.session.info.user_permissions or 'management.view_existingproductcompleted' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">已有制剂进度管理</h5>
                            <p class="card-text">对于已有制剂的进度进行管理</p>
                            {% if 'management.view_existingproductcompleted' in request.session.info.user_permissions %}
                                <a href="/preparation/completed" class="btn btn-primary" target="_blank">已完成</a>
                            {% endif %}
                            {% if 'management.view_existingformulationdeveloping' in request.session.info.user_permissions %}
                                <a href="/preparation/ing" class="btn btn-primary" target="_blank">研发中</a>
                            {% endif %}
                            {% if 'management.view_existingformulationtodevelop' in request.session.info.user_permissions %}
                                <a href="/preparation/todev" class="btn btn-primary" target="_blank">待研发</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_newproductdevelopingprogress' in request.session.info.user_permissions or 'management.view_newproductcompleted' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">新品进度管理</h5>
                            <p class="card-text">对于新品开发的进度进行管理</p>
                            {% if 'management.view_newproductcompleted' in request.session.info.user_permissions %}
                                <a href="/new/completed" class="btn btn-primary" target="_blank">已完成</a>
                            {% endif %}
                            {% if 'management.view_newproductdevelopingprogress' in request.session.info.user_permissions %}
                                <a href="/new/ing" class="btn btn-primary" target="_blank">开发中</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_newproductdevelopment' in request.session.info.user_permissions or 'management.view_existingformulationprogressdescription' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">进度描述</h5>
                            <p class="card-text">对于已有制剂和新品的进度进行管理</p>
                            {% if 'management.view_existingformulationprogressdescription' in request.session.info.user_permissions %}
                                <a href="/progress/preparation" class="btn btn-primary" target="_blank">已有制剂</a>
                            {% endif %}
                            {% if 'management.view_newproductdevelopment' in request.session.info.user_permissions %}
                                <a href="/progress/new" class="btn btn-primary" target="_blank">新品</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_foreigncustomerprofile' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">外贸部客户档案管理</h5>
                            <p class="card-text">对于外贸部的客户档案进行管理</p>
                            <a href="/foreign/customer/" class="btn btn-primary"
                               target="_blank">前往外贸部客户档案</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_customerflow' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">研发部流水管理</h5>
                            <p class="card-text">对于研发部的流水进行管理</p>
                            <a href="/develop/turnover/" class="btn btn-primary"
                               target="_blank">前往研发部流水管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_customerengagement' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">研发部客户对接管理</h5>
                            <p class="card-text">对于研发部客户的对接进行管理</p>
                            <a href="/develop/butting/" class="btn btn-primary"
                               target="_blank">前往研发部客户对接管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_customerprofile' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">研发部客户档案管理</h5>
                            <p class="card-text">对于研发部的客户档案进行管理</p>
                            <a href="/develop/customer/" class="btn btn-primary"
                               target="_blank">研发部客户档案管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_salesvisitreport' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">销售客户拜访报告</h5>
                            <p class="card-text">销售客户拜访报告</p>
                            <a href="/sales_visit/" class="btn btn-primary"
                               target="_blank">前往查看</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {#            客户审计表，暂时还没导入，#}
            {% if 'management.view_customerprofile' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">客户审计表</h5>
                            <p class="card-text">对于客户审计表进行管理</p>
                            <a href="/#/" class="btn btn-primary"
                               target="_blank">客户审计表档案管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        .card {
            transition: transform .2s, box-shadow .2s;
            border-radius: 0.5rem;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .btn-primary {
            transition: background-color .3s, border-color .3s;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
    </style>
{% endblock %}
