{% extends 'layout.html' %}
{% block content %}
    <div class="container mt-4">
        <div class="col-md-12">
            {#            <a href="/user/management/" class="btn btn-outline-secondary">&larr; 返回</a>#}
            <h2 class="text-center mb-4" style="color: #007bff;">员工列表</h2>
        </div>
        <div class="row mb-3">
            <!-- 搜索和添加按钮的代码 -->
            {% if 'management.add_employees' in request.session.info.user_permissions %}
                <div class="col">
                    <a href="/user/management/" class="btn btn-outline-secondary">返回</a>
                    <a href="/employees/add/" class="btn btn-primary">添加</a>
                    <!-- 在适当的位置添加 -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#exportFieldsModal">选择导出字段
                    </button>
                    <a href="/employees/import/" class="btn btn-success">导入</a>
                </div>
            {% endif %}
            <div class="col text-end">
                <form method="get" id="search-form">
                    <div id="search-conditions">
                        <!-- 动态搜索条件将被插入这里 -->
                    </div>
                    <button type="button" id="add-search-condition" class="btn btn-secondary">添加搜索条件</button>
                    <button type="submit" class="btn btn-outline-secondary">搜索</button>
                    <button class="btn btn-outline-secondary" type="button" id="clear-search-conditions">清空</button>
                </form>
            </div>
        </div>

        <div class="scrollable-table">
            <table class="table table-fixed custom-table">
                <!-- 表头和表格内容 -->
                <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">工号</th>
                    <th scope="col">姓名</th>
                    <th scope="col">性别</th>
                    <th scope="col">部门</th>
                    <th scope="col">职位</th>
                    <th scope="col">状态</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in page_queryset %}
                    <tr>
                        <td>{{ forloop.counter0|add:page_start_index }}</td>
                        <th scope="row">{{ employee.work_id }}</th>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.gender }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.position }}</td>
                        <td>{{ employee.status }}</td>
                        <td>
                            {% if 'management.change_employees' in request.session.info.user_permissions %}
                                <a href="/employees/edit/{{ employee.work_id }}/" class="btn btn-info btn-sm">编辑</a>
                            {% endif %}
                            {% if 'management.delete_employees' in request.session.info.user_permissions %}
                                <button type="button" class="btn btn-danger btn-sm delete-btn"
                                        data-delete-url="/employees/delete/{{ employee.work_id }}/">删除
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Export Fields Modal -->
        <div class="modal fade" id="exportFieldsModal" tabindex="-1" aria-labelledby="exportFieldsModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exportFieldsModalLabel">选择导出字段</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="exportFieldsForm">
                            {% for field_name, field_verbose_name in field_info %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ field_name }}"
                                           id="field{{ forloop.counter }}" checked>
                                    <label class="form-check-label" for="field{{ forloop.counter }}">
                                        {{ field_verbose_name }}
                                    </label>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="submitExportFields()">导出</button>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <!-- 分页导航 -->
            <ul class="pagination justify-content-center">
                {{ page_string|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}
{% block js %}

    <script>
        function submitExportFields() {
            let selectedFields = [];
            document.querySelectorAll('#exportFieldsForm input[type="checkbox"]:checked').forEach(function (checkbox) {
                selectedFields.push(checkbox.value);
            });
            let exportUrl = '/employees/export/?fields=' + selectedFields.join(',');
            window.location.href = exportUrl;
        }
    </script>

{% endblock %}