{% extends 'layout.html' %}

{% block content %}
    <main class="py-5">
        <h2 class="mb-4">应收账款明细(外贸部)</h2>
        <div class="row mb-3">
            <div class="col text-end">
                <form method="get" id="search-form">
                    <div class="input-group">
                        <input type="month" name="q" class="form-control datepicker" placeholder="选择年份和月份"
                               value="{{ value }}" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">搜索</button>
                            <button class="btn btn-outline-secondary" type="button" id="clear-search">清空</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for item in page_queryset %}
                    <div class="col-12 mb-4">
                        <div class="d-flex card">
                            <div class="card-body">
                                <div class="info-item">
                                    <h4 class="info-title">交易日期</h4>
                                    <p class="info-content">{{ item.sales_date }}</p>
                                </div>
                                <div class="info-item">
                                    <h4 class="info-title">客户名称</h4>
                                    <p class="info-content">{{ item.company_name }}</p>
                                </div>
                                <div class="info-item">
                                    <h4 class="info-title">业务员</h4>
                                    <p class="info-content">{{ item.salesperson }}</p>
                                </div>
                                <div class="info-item">
                                    <h4 class="info-title">应收账款USD</h4>
                                    <p class="info-content">{{ item.unreceived_payment_usd }}</p>
                                </div>
                                <div class="info-item">
                                    <h4 class="info-title">应收账款RMB</h4>
                                    <p class="info-content">{{ item.unreceived_payment_cny }}</p>
                                </div>
                            </div>
                            <div class="align-self-end">
                                <a href="/report/foreign/m_receivable_detail/add/{{ item.serial_number }}/"
                                   class="btn btn-info btn-primary">编辑</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{ page_string|safe }}
        </ul>
    </nav>
{% endblock %}

{% block css %}
    <style>
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .info-item {
            flex-basis: calc(33.33% - 20px);
            padding: 10px;
        }

        .info-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .info-content {
            font-size: 16px;
            margin-bottom: 16px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $('.datepicker').datepicker({
            language: 'zh-CN',
            format: 'yyyy-mm',
            minViewMode: 'months', // 设置为'months'以限制选择到年份和月份
            startDate: '0',
            autoClose: true
        });
    </script>

    <script>
        $(document).ready(function () {
            // 当清空按钮点击时，清空搜索框内的内容，并自动点击搜索按钮
            $('#clear-search').click(function () {
                // 清空搜索框
                $('input[name="q"]').val('');
                // 触发搜索按钮点击事件
                $('button[type="submit"]').click();
            });
        });
    </script>
{% endblock %}