{% extends 'layout.html' %}

{% block content %}
    <table>
        <h2 class="mb-4">{{ value }}台账基础表(外贸部)</h2></tr>

        <div class="row mb-3">
            <div class="col text-end">
                <form method="get" id="search-form">
                    <div class="input-group">
                        <input type="month" name="q" class="form-control datepicker" placeholder="选择年份和月份"
                               value="{{ value }}" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">搜索</button>
                            <button class="btn btn-outline-secondary" type="button" id="clear-search">清空</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <tr>
            <th>序列号</th>
            <th>下单日期</th>
            <th>销售日期</th>
            <th>合同编号</th>
            <th>报关</th>
            <th>其他细节</th>
            <th>国家/省份</th>
            <th>性质</th>
            <th>开发日期</th>
            <th>公司名称</th>
            <th>产品名称</th>
            <th>型号</th>
            <th>编码</th>
            <th>规格</th>
            <th>现款销售数量</th>
            <th>现款销售单价 (USD)</th>
            <th>现款销售单价 (人民币)</th>
            <th>现款销售总额 (USD)</th>
            <th>现款销售总额 (人民币)</th>
            <th>应收账款销售数量</th>
            <th>应收账款销售单价 (USD)</th>
            <th>应收账款销售单价 (人民币)</th>
            <th>应收账款销售总额 (USD)</th>
            <th>应收账款销售总额 (人民币)</th>
            <th>应收账款销售总额借 (USD)</th>
            <th>应收账款销售总额借 (人民币)</th>
            <th>应收账款销售总额贷 (USD)</th>
            <th>应收账款销售总额贷 (人民币)</th>
            <th>应收账款销售余额 (USD)</th>
            <th>应收账款销售余额 (人民币)</th>
            <th>订单金额 (USD)</th>
            <th>订单金额 (人民币)</th>
            <th>回款金额 (USD)</th>
            <th>回款金额 (人民币)</th>
            <th>首次发生</th>
            <th>客户类型</th>
            <th>未收款 (USD)</th>
            <th>未收款 (人民币)</th>
            <th>销售员工</th>
            <th>收款 (USD)</th>
            <th>收款 (人民币)</th>
            <th>收款日期</th>
            <th>发票号码</th>
            <th>发票收据号</th>
            <th>销售月份</th>
            <th>国际运费 (RMB)</th>
            <th>国际运费 (USD)</th>
            <th>其他费用</th>
            <th>总金额</th>
            <th>物流发货日期</th>
            <th>运单号</th>
            <th>单价低于当期版本价目表</th>
            <th>退税金额</th>
            <th>汇率</th>
        </tr>
        {% for entry in page_queryset %}
            <tr>
                <td>{{ entry.serial_number }}</td>
                <td>{{ entry.order_date }}</td>
                <td>{{ entry.sales_date }}</td>
                <td>{{ entry.contract_number }}</td>
                <td>{{ entry.customs_declaration }}</td>
                <td>{{ entry.other_details }}</td>
                <td>{{ entry.country_province }}</td>
                <td>{{ entry.nature }}</td>
                <td>{{ entry.development_date }}</td>
                <td>{{ entry.company_name }}</td>
                <td>{{ entry.product_name }}</td>
                <td>{{ entry.model }}</td>
                <td>{{ entry.code }}</td>
                <td>{{ entry.specification }}</td>
                <td>{{ entry.cash_sales_quantity }}</td>
                <td>{{ entry.cash_sales_price_usd }}</td>
                <td>{{ entry.cash_sales_price_cny }}</td>
                <td>{{ entry.cash_sales_total_usd }}</td>
                <td>{{ entry.cash_sales_total_cny }}</td>
                <td>{{ entry.accounts_receivable_sales_quantity }}</td>
                <td>{{ entry.accounts_receivable_sales_price_usd }}</td>
                <td>{{ entry.accounts_receivable_sales_price_cny }}</td>
                <td>{{ entry.accounts_receivable_sales_total_usd }}</td>
                <td>{{ entry.accounts_receivable_sales_total_cny }}</td>
                <td>{{ entry.accounts_receivable_debit_usd }}</td>
                <td>{{ entry.accounts_receivable_debit_cny }}</td>
                <td>{{ entry.accounts_receivable_credit_usd }}</td>
                <td>{{ entry.accounts_receivable_credit_cny }}</td>
                <td>{{ entry.order_amount_usd }}</td>
                <td>{{ entry.order_amount_cny }}</td>
                <td>{{ entry.payment_received_usd }}</td>
                <td>{{ entry.payment_received_cny }}</td>
                <td>{{ entry.first_occurrence }}</td>
                <td>{{ entry.customer_type }}</td>
                <td>{{ entry.unreceived_payment_usd }}</td>
                <td>{{ entry.unreceived_payment_cny }}</td>
                <td>{{ entry.salesperson }}</td>
                <td>{{ entry.payment_usd }}</td>
                <td>{{ entry.payment_cny }}</td>
                <td>{{ entry.payment_date }}</td>
                <td>{{ entry.invoice_number }}</td>
                <td>{{ entry.invoice_receipt_number }}</td>
                <td>{{ entry.sales_month }}</td>
                <td>{{ entry.international_freight_rmb }}</td>
                <td>{{ entry.international_freight_usd }}</td>
                <td>{{ entry.miscellaneous_fees }}</td>
                <td>{{ entry.total_amount }}</td>
                <td>{{ entry.logistics_shipping_date }}</td>
                <td>{{ entry.waybill_number }}</td>
                <td>{{ entry.price_below_current_price_list }}</td>
                <td>{{ entry.tax_refund_amount }}</td>
                <td>{{ entry.exchange_rate }}</td>
            </tr>
        {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{ page_string|safe }}
        </ul>
    </nav>
{% endblock %}

{% block js %}
    <script>
        $('.datepicker').datepicker({
            language: 'zh-CN',
            format: 'yyyy-mm',
            minViewMode: 'months', // 设置为'months'以限制选择到年份和月份
            startDate: '0',
            autoClose: true
        });
    </script>
    <script>
        $(document).ready(function () {
            // 当清空按钮点击时，清空搜索框内的内容，并自动点击搜索按钮
            $('#clear-search').click(function () {
                // 清空搜索框
                $('input[name="q"]').val('');
                // 触发搜索按钮点击事件
                $('button[type="submit"]').click();
            });
        });
    </script>
{% endblock %}