{% extends 'layout.html' %}
{% block content %}
    <table>
    {% if type == 'ing' %}
        <h2 class="mb-4">新品开发中开发表</h2></tr>
    {% elif type == 'completed' %}
        <h2 class="mb-4">新品已完成开发表</h2></tr>
    {% endif %}
        <a href="/new/{{ type }}/add/" class="btn btn-primary mb-3">添加</a>

        <thead>
        <tr>
            <th>序号</th>
            <th>公司名称</th>
            <th>省份</th>
            <th>城市</th>
            <th>部门</th>
            <th>具体部门</th>
            <th>负责人</th>
            <th>客户名称</th>
            <th>客户来源</th>
            <th>产品</th>
            <th>对应规格编码</th>
            <th>特殊需求</th>
            <th>申样/销售</th>
            <th>是否重复项目</th>
            <th>初次报价</th>
            <th>数量</th>
            <th>单价</th>
            <th>金额</th>
            <th>制剂名称</th>
            <th>是否一致性评价品种</th>
            <th>辅料用途</th>
            <th>处方用量</th>
            <th>开发日期</th>
            <th>客户重要程度</th>
            <th>前期洽谈</th>
            <th>提出供应商变更申请</th>
            <th>供应商审计</th>
            <th>连续3批辅料小样检测</th>
            <th>首次生产3批</th>
            <th>稳定性考察</th>
            <th>补充申请备案完成变更</th>
            <th>正式合同签订</th>
            <th>发货</th>
            <th>进行中</th>
            <th>备注</th>
            <th>中试前</th>
            <th>申报前</th>
            <th>开具时间</th>
            <th>落地企业名称</th>
            <th>联系人</th>
            <th>移交销售经理</th>
            <th>移交时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in query_set %}
            <tr>
                <td>{{ item.serial_number }}</td>
                <td>{{ item.company_name }}</td>
                <td>{{ item.province }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.department }}</td>
                <td>{{ item.specific_department }}</td>
                <td>{{ item.manager }}</td>
                <td>{{ item.customer_name }}</td>
                <td>{{ item.customer_source }}</td>
                <td>{{ item.product }}</td>
                <td>{{ item.specification_code }}</td>
                <td>{{ item.special_requirements }}</td>
                <td>{{ item.sample_or_sale }}</td>
                <td>{{ item.is_duplicate_project }}</td>
                <td>{{ item.initial_quote }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.formulation_name }}</td>
                <td>{{ item.is_consistency_evaluation_product }}</td>
                <td>{{ item.excipient_purpose }}</td>
                <td>{{ item.prescription_quantity }}</td>
                <td>{{ item.start_development_date }}</td>
                <td>{{ item.customer_importance }}</td>
                <td>{{ item.excipient_inspection }}</td>
                <td>{{ item.prescription_selection }}</td>
                <td>{{ item.preliminary_process_validation_small_scale }}</td>
                <td>{{ item.pilot_scale_verification }}</td>
                <td>{{ item.process_verification }}</td>
                <td>{{ item.clinical_trials }}</td>
                <td>{{ item.approval_received }}</td>
                <td>{{ item.regular_purchase }}</td>
                <td>{{ item.response_needed }}</td>
                <td>{{ item.in_progress }}</td>
                <td>{{ item.notes }}</td>
                <td>{{ item.before_pilot_scale }}</td>
                <td>{{ item.before_submission }}</td>
                <td>{{ item.issuance_date }}</td>
                <td>{{ item.landing_company_name }}</td>
                <td>{{ item.contact_person }}</td>
                <td>{{ item.transfer_to_sales_manager }}</td>
                <td>{{ item.transfer_date }}</td>
                <td>
                    <a href="/new/{{ type }}/edit/{{ item.serial_number }}/" class="btn btn-info btn-sm">编辑</a>
                    <a href="#" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}