{% extends 'layout2.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-12">

            <!-- Registration Form -->
            <form id="registrationForm" method="post">
                {% csrf_token %}
                {% for item in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ item.label }}</label>
                        {{ item }}
                        <!-- 显示字段的错误信息 -->
                        {% if item.errors %}
                            <div class="alert alert-danger">
                                {{ item.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary">修改</button>
                </div>
                <div class="d-grid">
                    <a href="/new/completed/" class="btn btn-primary">返回</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}