{% extends 'layout.html' %}

{% block content %}

    <div class="container mt-4">
        {% if type == 'todev' %}
            <h2 class="mb-4">已有制剂待开发开发表</h2></tr>
        {% elif type == 'ing' %}
            <h2 class="mb-4">已有制剂开发中开发表</h2></tr>
        {% elif type == 'completed' %}
            <h2 class="mb-4">已有制剂已完成开发表</h2></tr>
        {% endif %}
        <div class="row mb-3">
            <!-- 权限检查和搜索表单，保持不变 -->
            <div class="col">
                <a href="/customer/management/" class="btn btn-outline-primary">返回</a>
                {% if type == 'completed' and can_add_completed %}
                    <a href="/preparation/completed/add/" class="btn btn-primary">添加</a>
                {% elif type == 'ing' and can_add_ing %}
                    <a href="/preparation/ing/add/" class="btn btn-primary">添加</a>
                {% elif type == 'todev' and can_add_todev %}
                    <a href="/preparation/todev/add/" class="btn btn-primary">添加</a>
                {% endif %}
            </div>

            <div class="col text-end">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name='q' class="form-control" placeholder="搜索" value="{{ value }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">搜索</button>
                            <button class="btn btn-outline-secondary" type="button" id="clear-search-button">清空</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 使用一个外部容器来固定滚动条 -->
        <div class="table-responsive">
            <!-- scrollable-table 类现在只负责滚动，不再负责响应式布局 -->
            <div class="scrollable-table">
                <table class="table table-fixed custom-table">
                    <!-- 表头固定 -->
                    <thead>
                    <tr>
                        <th>序列号</th>
                        <th>公司名称</th>
                        <th>省份</th>
                        <th>城市</th>
                        <th>部门</th>
                        <th>具体部门</th>
                        <th>负责人</th>
                        <th>客户姓名</th>
                        <th>客户来源</th>
                        <th>产品</th>
                        <th>对应规格代码</th>
                        <th>特殊要求</th>
                        <th>预估年消耗量</th>
                        <th>当前生产厂家</th>
                        <th>等级 (药品等级/化学等级)</th>
                        <th>型号 (如果有的话)</th>
                        <th>每千克价格 (CNY)</th>
                        <th>样品/销售</th>
                        <th>重复项目</th>
                        <th>初始报价</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>金额</th>
                        <th>制剂名称</th>
                        <th>一致性评价产品</th>
                        <th>赋型辅料用途</th>
                        <th>处方剂量</th>
                        <th>开发日期</th>
                        <th>客户重要性等级</th>
                        <th>初步洽谈</th>
                        <th>供应商变更申请</th>
                        <th>供应商审计</th>
                        <th>三批辅料样品检测</th>
                        <th>三批首生产</th>
                        <th>稳定性检验</th>
                        <th>补充申请记录/已完成变更</th>
                        <th>正式合同签订</th>
                        <th>交付</th>
                        <th>进行中</th>
                        <th>备注</th>
                        <th>批签发前</th>
                        <th>批准申报前</th>
                        <th>签发日期</th>
                        <th>落地公司名称</th>
                        <th>联系人</th>
                        <th>转交至销售经理</th>
                        <th>转交时间</th>
                        <th>操作</th>
                    </tr>

                    </thead>
                    <!-- 表格内容 -->
                    <tbody>
                    <!-- 动态内容 -->
                    {% for entry in page_queryset %}
                        <tr>
                            <td>{{ entry.serial_number }}</td>
                            <td>{{ entry.company_name }}</td>
                            <td>{{ entry.province }}</td>
                            <td>{{ entry.city }}</td>
                            <td>{{ entry.department }}</td>
                            <td>{{ entry.specific_department }}</td>
                            <td>{{ entry.responsible_person }}</td>
                            <td>{{ entry.customer_name }}</td>
                            <td>{{ entry.customer_source }}</td>
                            <td>{{ entry.product }}</td>
                            <td>{{ entry.corresponding_spec_code }}</td>
                            <td>{{ entry.special_requirements }}</td>
                            <td>{{ entry.estimated_annual_consumption }}</td>
                            <td>{{ entry.current_manufacturer }}</td>
                            <td>{{ entry.grade_pharmaceutical_grade_chemical_grade }}</td>
                            <td>{{ entry.model_if_available }}</td>
                            <td>{{ entry.price_per_kg }}</td>
                            <td>{{ entry.sample_sales }}</td>
                            <td>{{ entry.repeat_project }}</td>
                            <td>{{ entry.initial_quotation }}</td>
                            <td>{{ entry.quantity }}</td>
                            <td>{{ entry.unit_price }}</td>
                            <td>{{ entry.amount }}</td>
                            <td>{{ entry.preparation_name }}</td>
                            <td>{{ entry.consistency_evaluation_product }}</td>
                            <td>{{ entry.excipient_use }}</td>
                            <td>{{ entry.prescription_dosage }}</td>
                            <td>{{ entry.development_date }}</td>
                            <td>{{ entry.customer_importance_level }}</td>
                            <td>{{ entry.preliminary_negotiation }}</td>
                            <td>{{ entry.supplier_change_application }}</td>
                            <td>{{ entry.supplier_audit }}</td>
                            <td>{{ entry.three_batch_excipient_sample_testing }}</td>
                            <td>{{ entry.first_production_of_three_batches }}</td>
                            <td>{{ entry.stability_inspection }}</td>
                            <td>{{ entry.additional_application_record_completed_change }}</td>
                            <td>{{ entry.formal_contract_signing }}</td>
                            <td>{{ entry.delivery }}</td>
                            <td>{{ entry.in_progress }}</td>
                            <td>{{ entry.remarks }}</td>
                            <td>{{ entry.before_pilot }}</td>
                            <td>{{ entry.before_declaration }}</td>
                            <td>{{ entry.issuance_date }}</td>
                            <td>{{ entry.landing_company_name }}</td>
                            <td>{{ entry.contact }}</td>
                            <td>{{ entry.transfer_to_sales_manager }}</td>
                            <td>{{ entry.transfer_time }}</td>
                            <td>
                                {% if type == 'completed' and can_edit_completed %}
                                    <a href="/preparation/completed/edit/{{ entry.serial_number }}/"
                                       class="btn btn-info btn-sm">编辑</a>
                                {% elif type == 'ing' and can_edit_ing %}
                                    <a href="/preparation/ing/edit/{{ entry.serial_number }}/"
                                       class="btn btn-info btn-sm">编辑</a>
                                {% elif type == 'todev' and can_edit_todev %}
                                    <a href="/preparation/todev/edit/{{ entry.serial_number }}/"
                                       class="btn btn-info btn-sm">编辑</a>
                                {% endif %}

                                {% if type == 'completed' and can_delete_completed %}
                                    <button type="button" class="btn btn-danger btn-sm delete-btn"
                                            data-delete-url="/preparation/completed/delete/{{ entry.serial_number }}/">
                                        删除
                                    </button>
                                {% elif type == 'ing' and can_delete_ing %}
                                    <button type="button" class="btn btn-danger btn-sm delete-btn"
                                            data-delete-url="/preparation/ing/delete/{{ entry.serial_number }}/">删除
                                    </button>
                                {% elif type == 'todev' and can_delete_todev %}
                                    <button type="button" class="btn btn-danger btn-sm delete-btn"
                                            data-delete-url="/preparation/todev/delete/{{ entry.serial_number }}/">删除
                                    </button>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <!-- 分页和模态框，保持不变 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{ page_string|safe }}
            </ul>
        </nav>
    </div>

{% endblock %}