{% extends 'layout.html' %}
{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">药用辅料表</h2>
        <div class="row mb-3">
            <!-- 搜索和添加按钮的代码 -->
            {% if 'management.add_products' in request.session.info.user_permissions %}
                <div class="col">
                    <a href="/product/add/" class="btn btn-primary mb-3">添加</a>
                </div>
            {% endif %}
            <div class="col text-end">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name='q' class="form-control" placeholder="搜索" value="{{ value }}">
                        <button class="btn btn-outline-secondary" type="submit">搜索</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="scrollable-table">
            <table class="table table-fixed custom-table">
                <!-- 表头和表格内容 -->
                <thead>
                <tr>
                    <th>产品类别</th>
                    <th>产品名称</th>
                    <th>规格</th>
                    <th>规格特点</th>
                    <th>要求</th>
                    <th>标签</th>
                    <th>规格编码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for product in page_queryset %}
                    <tr>
                        <td>{{ product.category }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.specification }}</td>
                        <td>{{ product.specification_features }}</td>
                        <td>{{ product.requirements }}</td>
                        <td>{{ product.labels }}</td>
                        <td>{{ product.spec_code }}</td>
                        <td>
                            {% if 'management.change_products' in request.session.info.user_permissions %}
                                <a href="/product/edit/{{ product.spec_code }}/" class="btn btn-info btn-sm">编辑</a>
                            {% endif %}
                            {% if 'management.delete_products' in request.session.info.user_permissions %}
                                <button type="button" class="btn btn-danger btn-sm delete-btn"
                                        data-delete-url="/product/delete/{{ product.spec_code }}/">
                                    删除
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No data available</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example">
            <!-- 分页导航 -->
            <ul class="pagination justify-content-center">
                {{ page_string|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}
