{% extends 'layout.html' %}

{% block content %}
    <table>
        {% if type == 'new' %}
            <h2 class="mb-4">新品进度描述表</h2>
        {% elif type == 'preparation' %}
            <h2 class="mb-4">已有制剂进度描述表</h2>
        {% endif %}
        <div class="row mb-3">
            {% if type == 'new' and  can_add_new %}
                <a href="/progress/new/add/" class="btn btn-primary mb-3">添加</a>
            {% elif type == 'preparation' and can_add_preparation %}
                <a href="/progress/preparation/add/" class="btn btn-primary mb-3">添加</a>
            {% endif %}

            <div class="col text-end">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name='q' class="form-control" placeholder="隶属ID" value="{{ value }}">
                        <button class="btn btn-outline-secondary" type="submit">搜索</button>
                    </div>
                </form>
            </div>
        </div>
        <tr>
            <th>时间戳</th>
            <th>进度</th>
            <th>状态</th>
            <th>隶属ID</th>
            <th>操作</th>
        </tr>
        {% for item in page_queryset %}
            <tr>
                <td>{{ item.timestamp }}</td>
                <td>{{ item.progress }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.subordinate_id }}</td>
                <td>
                    {% if type == 'new' and  can_edit_new %}
                        <a href="/progress/new/edit/{{ item.id }}/" class="btn btn-info btn-sm">编辑</a>
                    {% elif type == 'preparation' and can_edit_preparation %}
                        <a href="/progress/preparation/edit/{{ item.id }}/" class="btn btn-info btn-sm">编辑</a>
                    {% endif %}

                    {% if type == 'new' and  can_delete_new %}
                        <a href="/progress/new/delete/{{ item.id }}/" class="btn btn-danger btn-sm">删除</a>
                    {% elif type == 'preparation' and can_delete_preparation %}
                        <a href="/progress/preparation/delete/{{ item.id }}/" class="btn btn-danger btn-sm">删除</a>
                    {% endif %}

                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No data available</td>
            </tr>
        {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{ page_string|safe }}
        </ul>
    </nav>
{% endblock %}