{% extends 'layout.html' %}

{% block content %}
    <div class="container py-5">
        <h2 class="mb-5 text-center">项目管理</h2>
        <div class="row g-4">
            <!-- 循环开始 -->

            {% if 'management.view_preparation_new' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">已有制剂管理</h5>
                            <p class="card-text">对于已有制剂进行管理</p>
                            <a href="/preparation_new/" class="btn btn-primary"
                               target="_blank">已有制剂管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_product_new' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">新品管理</h5>
                            <p class="card-text">对于新品进行管理</p>
                            <a href="/product_new/" class="btn btn-primary"
                               target="_blank">新品管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_products' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">药用辅料管理</h5>
                            <p class="card-text">对药用辅料进行管理</p>
                            <a href="/product/" class="btn btn-primary"
                               target="_blank">前往药用辅料管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_authorization' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">授权书管理</h5>
                            <p class="card-text">对于已有授权书进行管理</p>
                            <a href="/authorization/" class="btn btn-primary"
                               target="_blank">前往授权书管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_feedback' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">问题反馈管理</h5>
                            <p class="card-text">对于提交的问题进行管理</p>
                            <a href="/question/" class="btn btn-primary"
                               target="_blank">前往问题反馈管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_feedback' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">仿制药参比制剂目录管理</h5>
                            <p class="card-text">对于仿制药参比制剂目录进行管理</p>
                            <a href="/medicine/" class="btn btn-primary"
                               target="_blank">前往仿制药参比制剂目录管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_feedback' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">销售预算管理</h5>
                            <p class="card-text">对于销售预算管理进行管理</p>
                            <a href="/sales_forecast/" class="btn btn-primary"
                               target="_blank">前往销售预算管理管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if 'management.view_complaintsummary' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 shadow on-hover-effect" onmouseover="hoverCard(this)"
                         onmouseout="unhoverCard(this)">
                        <div class="card-body">
                            <h5 class="card-title">退换货台账表-全国客诉汇总</h5>
                            <p class="card-text">可以根据部门来筛选全国客诉</p>
                            <a href="/complaint_summary/" class="btn btn-primary"
                               target="_blank">前往全国客诉管理</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        .card {
            transition: transform .2s, box-shadow .2s;
            border-radius: 0.5rem;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .btn-primary {
            transition: background-color .3s, border-color .3s;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
    </style>
{% endblock %}
