{% extends 'layout.html' %}

{% block content %}
    <h1>问题反馈表</h1>
    <div class="row mb-3">
        <div class="col">
            <a href="/question/add/" class="btn btn-primary mb-3">添加</a>
        </div>
        <div class="col text-end">
            <form method="get">
                <div class="input-group">
                    <input type="text" name='q' class="form-control" placeholder="搜索" value="{{ value }}">
                    <button class="btn btn-outline-secondary" type="submit">搜索</button>
                </div>
            </form>
        </div>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>时间戳</th>
            <th>部门</th>
            <th>产品</th>
            <th>相关配方</th>
            <th>留言</th>
            <th>进度状态</th>
            <th>联系部门负责人</th>
            <th>详细信息</th>
            <th>操作</th>
        </tr>
        {% for feedback in query_set %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.timestamp }}</td>
                <td>{{ feedback.department }}</td>
                <td>{{ feedback.product }}</td>
                <td>{{ feedback.related_formulation }}</td>
                <td>{{ feedback.message }}</td>
                <td>{{ feedback.progress_status }}</td>
                <td>{{ feedback.contact_department_lead }}</td>
                <td>{{ feedback.details }}</td>
                <td>
                    <a href="/question/edit/{{ feedback.id }}/" class="btn btn-info btn-sm">编辑</a>
                    <a href="/question/delete/{{ feedback.id }}/" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9">No data available</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}