{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        {% if 'management.view_reimbursement' in request.session.info.user_permissions %}
            <div class="row">
                <div class="col-md-12">
                    <a href="/ledger/management/" class="btn btn-outline-secondary">&larr; 返回</a>
                    <h2 class="text-center mb-4" style="color: #007bff;">各部门回款目标</h2>
                    <div id="summaryData" class="p-3 bg-light border rounded">
                        <!-- 在这里动态展示汇总数据 -->
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row align-items-center mt-3"> <!-- 调整上边距 -->
            <div class="col-md-4">
                <select id="departmentSelect" class="form-select mt-2">
                    {% for value, name in departments %}
                        <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <select id="yearSelect" class="form-select mt-2">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if 'management.change_reimbursement' in request.session.info.user_permissions %}
                <div class="col-md-2">
                    <button type="button" class="btn btn-info w-100 mt-2" data-bs-toggle="modal"
                            data-bs-target="#editTargetsModal">
                        编辑回款目标
                    </button>
                </div>
            {% endif %}
            {% if 'management.add_reimbursement' in request.session.info.user_permissions %}
                <div class="col-md-2">
                    <button type="button" class="btn btn-success w-100 mt-2" data-bs-toggle="modal"
                            data-bs-target="#addYearModal">
                        增加年份及默认值
                    </button>
                </div>
            {% endif %}
        </div>
        {% if 'management.view_reimbursement' in request.session.info.user_permissions %}
            <div class="row mt-4">
                <div class="col-md-12">
                    <canvas id="targetChart" style="max-width: 100%; height: auto;"></canvas>
                </div>
            </div>
        {% endif %}
    </div>



    <!-- 模态框 -->
    <div class="modal fade" id="editTargetsModal" tabindex="-1" aria-labelledby="editTargetsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- 使用更大的模态框 -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTargetsModalLabel">编辑回款目标</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="targetForm" class="row g-3">
                        {% for month in months %}
                            <div class="col-md-6 col-lg-4">
                                <label for="{{ month }}Target" class="form-label">{{ month }}</label>
                                <input type="number" class="form-control" id="{{ month }}Target"
                                       name="{{ month }}Target" required>
                            </div>
                        {% endfor %}
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" form="targetForm">更新目标</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加年份的模态框 -->
    <div class="modal fade" id="addYearModal" tabindex="-1" aria-labelledby="addYearModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addYearModalLabel">增加年份及默认值</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'add_year_with_defaults_view' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="newYear" class="form-label">年份：</label>
                            <input type="number" id="newYear" name="newYear" class="form-control" min="2000" max="2100"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="defaultValue" class="form-label">默认值：</label>
                            <input type="number" id="defaultValue" name="defaultValue" class="form-control" min="0"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-primary">增加年份及默认值</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // 填充模态框中的表单字段值
        function fillModalWithCurrentValues(department, year) {
            $.ajax({
                url: '/get-current-targets/',
                data: {'department': department, 'year': year},
                success: function (data) {
                    $('#1月Target').val(data.janTarget);
                    $('#2月Target').val(data.febTarget);
                    $('#3月Target').val(data.marTarget);
                    $('#4月Target').val(data.aprTarget);
                    $('#5月Target').val(data.mayTarget);
                    $('#6月Target').val(data.junTarget);
                    $('#7月Target').val(data.julTarget);
                    $('#8月Target').val(data.augTarget);
                    $('#9月Target').val(data.sepTarget);
                    $('#10月Target').val(data.octTarget);
                    $('#11月Target').val(data.novTarget);
                    $('#12月Target').val(data.decTarget);
                }
            });
        }

        // 当编辑模态框显示时触发事件
        $('#editTargetsModal').on('show.bs.modal', function () {
            var selectedDepartment = $('#departmentSelect').val();
            var selectedYear = $('#yearSelect').val();
            fillModalWithCurrentValues(selectedDepartment, selectedYear);
        });

        // 为部门和年份选择器绑定事件
        $('#departmentSelect, #yearSelect').change(function () {
            var selectedDepartment = $('#departmentSelect').val();
            var selectedYear = $('#yearSelect').val();
            updateChart(selectedDepartment, selectedYear);
            updateSummary(selectedDepartment, selectedYear);
            fillModalWithCurrentValues(selectedDepartment, selectedYear);
        });


        // 页面加载时的初始化
        $(document).ready(function () {
            var defaultDepartment = '销售部一部';  // 或者从服务器获取默认值
            var currentYear = new Date().getFullYear(); // 获取当前年份
            $('#departmentSelect').val(defaultDepartment);
            $('#yearSelect').val(currentYear);
            updateChart(defaultDepartment, currentYear);
            updateSummary(defaultDepartment, currentYear);
        });

        var myChart = null; // 在外部声明一个变量来持有图表实例

        // 更新图表数据
        function updateChart(department, year) {
            $.ajax({
                url: '/get-target-data/',
                data: {'department': department, 'year': year},
                success: function (data) {
                    var ctx = document.getElementById('targetChart').getContext('2d');

                    // 销毁之前的图表实例（如果存在）
                    if (myChart) {
                        myChart.destroy();
                    }

                    // 创建新的图表实例
                    myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                            datasets: [{
                                label: '回款目标',
                                data: data.targets,
                                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                                borderColor: 'rgba(0, 123, 255, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                }
            });
        }

        // 更新摘要数据
        function updateSummary(department, year) {
            $.ajax({
                url: '/get-summary-data/',
                data: {'department': department, "year": year},
                success: function (data) {
                    $('#summaryData').html('<p>年度目标总和: ' + data.total_target + '</p>');
                }
            });
        }

        // 表单提交处理
        $('#targetForm').submit(function (event) {
            event.preventDefault();

            let formData = {'department': $('#departmentSelect').val(), 'year': $('#yearSelect').val()};
            $(this).serializeArray().forEach(function (item) {
                formData[item.name] = item.value;
            });

            $.ajax({
                url: '/update-target-data/',
                type: 'POST',
                data: formData,
                success: function (response) {
                    alert('回款目标更新成功');
                    updateChart($('#departmentSelect').val(), $('#yearSelect').val());
                    updateSummary($('#departmentSelect').val(), $('#yearSelect').val());
                    $('#editTargetsModal').modal('hide');
                }
            });
        });

    </script>
    <script type="text/javascript">
        {% if messages %}
            let messages = [
                {% for message in messages %}
                    {"level": "{{ message.level_tag }}", "text": "{{ message }}"},
                {% endfor %}
            ];

            // 遍历消息
            messages.forEach(function (msg) {
                if (msg.level === 'success') {
                    alert("成功: " + msg.text);  // 成功消息使用弹窗显示
                } else if (msg.level === 'error') {
                    alert("错误: " + msg.text);  // 错误消息使用不同的弹窗显示
                }
                // 可以根据需要处理其他类型的消息
            });
        {% endif %}
    </script>

{% endblock %}
