{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>汇总数据</h4>
                <div id="summaryData">
                    <!-- 在这里动态展示汇总数据 -->
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-2"> <!-- 添加一点上边距 -->
            <!-- 部门选择框 -->
            <div class="col-md-4">
                <select id="departmentSelect" class="form-select">
                    {% for value, name in departments %}
                        <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- 年份选择框 -->
            <div class="col-md-4">
                <select id="yearSelect" class="form-select">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- 编辑按钮 -->
            <div class="col-md-4">
                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#editTargetsModal">
                    编辑回款目标
                </button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <canvas id="targetChart"></canvas>
            </div>
        </div>
    </div>


    <!-- 模态框 -->
    <div class="modal fade" id="editTargetsModal" tabindex="-1" aria-labelledby="editTargetsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- 使用更大的模态框 -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTargetsModalLabel">编辑回款目标</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="targetForm" class="row g-3"> <!-- 添加网格布局 -->
                        {% for month in months %}
                            <div class="col-md-6 col-lg-4"> <!-- 每个月份占据一列 -->
                                <label for="{{ month }}Target" class="form-label">{{ month }}</label>
                                <input type="number" class="form-control" id="{{ month }}Target"
                                       name="{{ month }}Target" required>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" form="targetForm">更新目标</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function fillModalWithCurrentValues(department, year) {
            $.ajax({
                url: '/get-current-targets/',
                data: {'department': department, 'year': year},
                success: function (data) {
                    $('#1月Target').val(data.janTarget);
                    $('#2月Target').val(data.febTarget);
                    $('#3月Target').val(data.marTarget);
                    $('#4月Target').val(data.aprTarget);
                    $('#5月Target').val(data.mayTarget);
                    $('#6月Target').val(data.junTarget);
                    $('#7月Target').val(data.julTarget);
                    $('#8月Target').val(data.augTarget);
                    $('#9月Target').val(data.sepTarget);
                    $('#10月Target').val(data.octTarget);
                    $('#11月Target').val(data.novTarget);
                    $('#12月Target').val(data.decTarget);
                }
            });
        }

        $('#editTargetsModal').on('show.bs.modal', function () {
            var selectedDepartment = $('#departmentSelect').val();
            var selectedYear = $('#yearSelect').val();
            fillModalWithCurrentValues(selectedDepartment, selectedYear);
        });

        // 为部门和年份选择器绑定事件
        $('#departmentSelect, #yearSelect').change(function () {
            var selectedDepartment = $('#departmentSelect').val();
            var selectedYear = $('#yearSelect').val();
            updateChart(selectedDepartment, selectedYear);
            updateSummary(selectedDepartment, selectedYear);
            fillModalWithCurrentValues(selectedDepartment, selectedYear);
        });


        // 页面加载时的初始化
        $(document).ready(function () {
            var defaultDepartment = '销售部一部';  // 或者从服务器获取默认值
            var currentYear = new Date().getFullYear(); // 获取当前年份
            $('#departmentSelect').val(defaultDepartment);
            $('#yearSelect').val(currentYear);
            updateChart(defaultDepartment, currentYear);
            updateSummary(defaultDepartment, currentYear);
        });

        var myChart = null; // 在外部声明一个变量来持有图表实例

        function updateChart(department, year) {
            $.ajax({
                url: '/get-target-data/',
                data: {'department': department, 'year': year},
                success: function (data) {
                    var ctx = document.getElementById('targetChart').getContext('2d');

                    // 销毁之前的图表实例（如果存在）
                    if (myChart) {
                        myChart.destroy();
                    }

                    // 创建新的图表实例
                    myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                            datasets: [{
                                label: '回款目标',
                                data: data.targets,
                            }]
                        },
                    });
                }
            });
        }

        function updateSummary(department, year) {
            $.ajax({
                url: '/get-summary-data/',
                data: {'department': department, "year": year},
                success: function (data) {
                    $('#summaryData').html('<p>年度目标总和: ' + data.total_target + '</p>');
                }
            });
        }

        // 表单提交处理
        $('#targetForm').submit(function (event) {
            event.preventDefault();

            let formData = {'department': $('#departmentSelect').val(), 'year': $('#yearSelect').val()};
            $(this).serializeArray().forEach(function (item) {
                formData[item.name] = item.value;
            });

            $.ajax({
                url: '/update-target-data/',
                type: 'POST',
                data: formData,
                success: function (response) {
                    alert('回款目标更新成功');
                    updateChart($('#departmentSelect').val(), $('#yearSelect').val());
                    updateSummary($('#departmentSelect').val(), $('#yearSelect').val());
                    $('#editTargetsModal').modal('hide');
                }
            });
        });

    </script>
{% endblock %}
