{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">功能菜单</h2>
        <div class="row">


            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">202X年X月台账基础表管理</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/report/inner/x_month_inner_trade_ledger/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往台账基础表(内贸部)管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">202X年X月台账基础表管理</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/report/foreign/x_month_inner_trade_ledger/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往台账基础表(外贸部)管理</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
<!-- 自定义样式 -->

{% block js %}
    <!-- JavaScript 动态效果 -->
    <script>
        function hoverCard(card) {
            card.style.boxShadow = '0 0 20px rgba(0, 0, 0, 0.2)';
        }

        function unhoverCard(card) {
            card.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.1)';
        }

        function clickCard(url) {
            // 在此处添加点击卡片后的自定义操作，例如页面跳转
            window.location.href = url;
        }
    </script>
{% endblock %}

