{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">功能菜单</h2>
        <div class="row">


            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">202X年X月台账基础表（原辅料、食品、研发、产品）</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/report/inner/m_inner_trade_ledger/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往台账基础表(内贸部)管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">202X年X月台账基础表（外贸部）</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/report/foreign/m_foreign_trade_ledger/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往台账基础表(外贸部)管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">202X年X月应收账款明细（原辅料、食品、研发、产品）：</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/report/inner/m_receivable_detail/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">截止202X年X月X日已逾期账款明细（原辅料、食品、研发、产品）</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/report/inner/d_overdue_detail/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">应收账款明细（外贸部）</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/report/foreign/m_receivable_detail/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">销售各部门回款目标</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/reimbursement/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">销售目标与实际完成情况</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/targets-achievements/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">开发目标客户数和实现销售额</h5>
                        <p class="card-text">这是卡片2的描述信息。</p>
                        <a href="/customers_sales/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
{% endblock %}
<!-- 自定义样式 -->

{% block js %}
    <!-- JavaScript 动态效果 -->
    <script>
        function hoverCard(card) {
            card.style.boxShadow = '0 0 20px rgba(0, 0, 0, 0.2)';
        }

        function unhoverCard(card) {
            card.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.1)';
        }

        function clickCard(url) {
            // 在此处添加点击卡片后的自定义操作，例如页面跳转
            window.location.href = url;
        }
    </script>
{% endblock %}

