{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">功能菜单</h2>
        <div class="row">


            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">台账基础表（原辅料、食品、研发、产品）</h5>
                        <p class="card-text">根据销售月份，查询内贸部每月的台账</p>
                        <a href="/report/inner/m_inner_trade_ledger/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往台账基础表(内贸部)管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">台账基础表（外贸部）</h5>
                        <p class="card-text">根据销售月份，查询外贸部每月的台账。</p>
                        <a href="/report/foreign/m_foreign_trade_ledger/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往台账基础表(外贸部)管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">应收账款明细（原辅料、食品、研发、产品）</h5>
                        <p class="card-text">
                            这份报表汇总了内贸部应收账款明细，用户可添加应收账款的具体信息。</p>
                        <a href="/report/inner/m_receivable_detail/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">已逾期账款明细（原辅料、食品、研发、产品）</h5>
                        <p class="card-text">查询的月份超过该报表中的当月还款日未还款的账款明细</p>
                        <a href="/report/inner/d_overdue_detail/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">应收账款明细（外贸部）</h5>
                        <p class="card-text">展示应收账款明细，用户输入已收账款内容</p>
                        <a href="/report/foreign/m_receivable_detail/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">销售目标与实际完成情况</h5>
                        <p class="card-text">每个月销售目标与实际回款金额的差额及完成比例</p>
                        <a href="/targets-achievements/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">开发目标客户数和实现销售额</h5>
                        <p class="card-text">统计各部门的客户数以及订单金额</p>
                        <a href="/customers_sales/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">月实现订单数</h5>
                        <p class="card-text">根据时间统计各部门实现的订单数</p>
                        <a href="/order_summary/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">月度/季度销售额</h5>
                        <p class="card-text">统计每个部门每年的销售额，可以在两种模式中切换</p>
                        <a href="/sales_increments/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">月度/季度回款额</h5>
                        <p class="card-text">统计每个部门每年的回款金额与比例，可以在两种模式中切换</p>
                        <a href="/sales_payback/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">销售部-业务员-月度各品类销售金额</h5>
                        <p class="card-text">可以查看每年各品类的销售金额</p>
                        <a href="/customer_sales/salesperson/category/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 custom-card" onmouseover="hoverCard(this)" onmouseout="unhoverCard(this)">
                    <div class="card-body">
                        <h5 class="card-title">销售部-业务员-月度各品类销售数量</h5>
                        <p class="card-text">可以查看每年各品类的销售数量</p>
                        <a href="/sales_amount/salesperson/category/" class="btn btn-primary"
                           onclick="clickCard('/url2')">前往查看</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
<!-- 自定义样式 -->

{% block js %}
    <!-- JavaScript 动态效果 -->
    <script>
        function hoverCard(card) {
            card.style.boxShadow = '0 0 20px rgba(0, 0, 0, 0.2)';
        }

        function unhoverCard(card) {
            card.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.1)';
        }

        function clickCard(url) {
            // 在此处添加点击卡片后的自定义操作，例如页面跳转
            window.location.href = url;
        }
    </script>
{% endblock %}

