{% extends 'layout.html' %}

{% block content %}
    <div class="container py-5">
        <h2 class="mb-5 text-center">用户管理</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            {% if 'management.view_employees' in request.session.info.user_permissions %}
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 border-0 shadow">
                        <div class="card-body">
                            <h5 class="card-title">员工信息管理</h5>
                            <p class="card-text">全体员工信息，可以进行基本操作</p>
                            <a href="/employees/" class="btn btn-primary"
                               onclick="clickCard('/employees/')">前往员工管理页面</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- 可以继续添加更多卡片，复制上面的结构即可 -->
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        .card {
            transition: transform .2s, box-shadow .2s;
            border-radius: 0.5rem;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .btn-primary {
            transition: background-color .3s, border-color .3s;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
    </style>
{% endblock %}
