{% extends 'layout.html' %}

{% block content %}
    <main class="py-5">
        <div class="col-md-12">
            <a href="/ledger/management/" class="btn btn-outline-secondary">&larr; 返回</a>
            <h2 class="text-center mb-4" style="color: #007bff;">{{ value }}应收账款明细(内贸部)</h2>
        </div>
        <div class="row mb-3">
            <div class="col text-end">
                <form method="get" id="search-form">
                    <div class="input-group">
                        <input type="month" name="q" class="form-control datepicker" placeholder="选择年份和月份"
                               value="{{ value }}" readonly>
                        <!-- 新增的搜索框 -->
                        <input type="text" name="q1" class="form-control" placeholder="销售员" value="{{ value1 }}">
                        {#                        <input type="text" name="q2" class="form-control" placeholder="产品名称" value="{{ value2 }}">#}

                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">搜索</button>
                            <button class="btn btn-outline-secondary" type="button" id="clear-search">清空</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for item in page_queryset %}
                    <div class="card">
                        <div class="card-body">
                            <div class="info-item">
                                <h4 class="info-title">交易日期</h4>
                                <p class="info-content">{{ item.logistics_shipment_date }}</p>
                            </div>
                            <div class="info-item">
                                <h4 class="info-title">省份</h4>
                                <p class="info-content">{{ item.province }}</p>
                            </div>
                            <div class="info-item">
                                <h4 class="info-title">客户名称</h4>
                                <p class="info-content">{{ item.company_name }}</p>
                            </div>
                            <div class="info-item">
                                <h4 class="info-title">业务员</h4>
                                <p class="info-content">{{ item.salesperson }}</p>
                            </div>
                            <div class="info-item">
                                <h4 class="info-title">应收账款</h4>
                                <p class="info-content">{{ item.unreceived_payment }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/report/inner/m_receivable_detail/add/{{ item.id }}/" class="btn btn-info">编辑</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {#        <div class="container">#}
        {#            <div class="row">#}
        {#                {% for item in page_queryset %}#}
        {#                    <div class="col-12 mb-4">#}
        {#                        <div class="d-flex card">#}
        {#                            <div class="card-body">#}
        {#                                <div class="info-item">#}
        {#                                    <h4 class="info-title">交易日期</h4>#}
        {#                                    <p class="info-content">{{ item.logistics_shipment_date }}</p>#}
        {#                                </div>#}
        {#                                <div class="info-item">#}
        {#                                    <h4 class="info-title">省份</h4>#}
        {#                                    <p class="info-content">{{ item.province }}</p>#}
        {#                                </div>#}
        {#                                <div class="info-item">#}
        {#                                    <h4 class="info-title">客户名称</h4>#}
        {#                                    <p class="info-content">{{ item.company_name }}</p>#}
        {#                                </div>#}
        {#                                <div class="info-item">#}
        {#                                    <h4 class="info-title">业务员</h4>#}
        {#                                    <p class="info-content">{{ item.salesperson }}</p>#}
        {#                                </div>#}
        {#                                <div class="info-item">#}
        {#                                    <h4 class="info-title">应收账款</h4>#}
        {#                                    <p class="info-content">{{ item.unreceived_payment }}</p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="align-self-end">#}
        {#                                <a href="/report/inner/m_receivable_detail/add/{{ item.id }}/"#}
        {#                                   class="btn btn-info btn-primary">编辑</a>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#        </div>#}
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{ page_string|safe }}
        </ul>
    </nav>
{% endblock %}

{% block css %}
    <style>
        /* 容器和卡片的基础样式 */
        .container {
            max-width: 1200px; /* 或根据实际需要调整 */
            margin: auto;
            padding: 20px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        /* 卡片样式 */
        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
            margin: 10px;
            flex-grow: 1;
            flex-basis: calc(33.333% - 20px); /* 三列布局 */
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .card-body {
            padding: 15px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: space-between;
        }

        .info-item {
            margin-bottom: 10px;
        }

        .info-title {
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }

        .info-content {
            font-size: 14px;
            color: #666;
        }

        /* 响应式调整 */
        @media (max-width: 768px) {
            .card {
                flex-basis: calc(50% - 20px); /* 在中等屏幕尺寸下调整为两列 */
            }
        }

        @media (max-width: 576px) {
            .card {
                flex-basis: calc(100% - 20px); /* 在小屏幕尺寸下调整为一列 */
            }
        }

    </style>
{% endblock %}
{% block js %}
    <script>
        $('.datepicker').datepicker({
            language: 'zh-CN',
            format: 'yyyy-mm',
            minViewMode: 'months', // 设置为'months'以限制选择到年份和月份
            startDate: '0',
            autoClose: true
        });
    </script>

    <script>
        $(document).ready(function () {
            // 当清空按钮点击时，清空搜索框内的内容，并自动点击搜索按钮
            $('#clear-search').click(function () {
                // 清空搜索框
                $('input[name="q"]').val('');
                $('input[name="q1"]').val('');
                {#$('input[name="q2"]').val('');#}
                // 触发搜索按钮点击事件
                $('button[type="submit"]').click();
            });
        });
    </script>

{% endblock %}